fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
pgvector
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
twilio
reportlab
numpy<2.0.0
opencv-python-headless
Pillow
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
qrcode[pil]